@import url('https://fonts.googleapis.com/css?family=Secular One&subset=hebrew');


* {
    box-sizing: border-box;
    direction:rtl;
    font-family:'Secular One';

}

body {
    font-family:'secular One';
    word-wrap:normal;
    min-height:100%;
}

/* Style the header */
header {
    background-color: #666;
    padding: 5px;
    text-align: center;
    vertical-align:middle;
    height:25%;
    color:#97be10;
    font-size:52px;
    font-weight:900;
    text-shadow:3px 3px 2px #333;
    letter-spacing:10px;
    word-spacing:15px;
}

nav {
    float: right;
    min-height: 100%; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 10px;
    width:12%;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: right;
    padding: 10px;
    width: 72%;
    background-color: #f1f1f1;
    min-height:100%;
}

aside {
    float:left;
    margin-left:10px;
    font-size:16px;
    width:15%;
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article, aside {
        width: 100%;
        height: auto;
    }
}

.control {
            /*font-family: arial;*/
            display: block;
            position: relative;
            padding-left: 30px;
            margin-bottom: 5px;
            padding-top: 3px;
            cursor: pointer;
            font-size: 16px;
        }
            .control input {
                position: absolute;
                z-index: -1;
                opacity: 0;
            }
        .control_indicator {
            position: absolute;
            top: 2px;
            left: 0;
            height: 20px;
            width: 20px;
            background: #e6e6e6;
            border: 0 solid #000000;
        }
        .control-radio .control_indicator {
            border-radius: unset;
        }
        
        .control:hover input ~ .control_indicator,
        .control input:focus ~ .control_indicator {
            background: #cccccc;
        }
        
        .control input:checked ~ .control_indicator {
            background: #7ddd24;
        }
        .control:hover input:not([disabled]):checked ~ .control_indicator,
        .control input:checked:focus ~ .control_indicator {
            background: #7ddd24;
        }
        .control input:disabled ~ .control_indicator {
            background: #e6e6e6;
            opacity: 0.6;
            pointer-events: none;
        }
        .control_indicator:after {
            box-sizing: unset;
            content: '';
            position: absolute;
            display: none;
        }
        .control input:checked ~ .control_indicator:after {
            display: block;
        }
        .control-checkbox .control_indicator:after {
            left: 8px;
            top: 4px;
            width: 3px;
            height: 8px;
            border: solid #ffffff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
        .control-checkbox input:disabled ~ .control_indicator:after {
            border-color: #7b7b7b;
        }


.mySlides {
        display: none;
    }

    .mySlides > img {
        vertical-align: middle;
        width:220px;
    }

    /* Slideshow container */
    .slideshow-container {
        max-width: 200px;
        position: relative;
        margin: auto;
        overflow:hidden;
    }

    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {
            opacity: .4;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes fade {
        from { opacity: .4; }
        to { opacity: 1; }
    }

    .odd img {
        animation: kenburnsOdd 20s infinite;
        height:220px;
        width:auto;
        position:relative;
        right:0;
        top:0;
    }

    @keyframes kenburnsOdd {
        0% { opacity: 0; }
        5% { opacity: 1; }
        95% {
            transform: scale3d(1.2, 1.2, 1.2) translate3d(130px, -90px, 0px);
            animation-timing-function: ease-in;
            opacity: 1;
        }
        100% {
            transform: scale3d(1.2, 1.2, 1.2) translate3d(150px, -120px, 0px);
            opacity: 0;
        }
    }

    .even img {
        animation: kenburnsEven 20s infinite;
        height:220px;
        width:auto;
        position:relative;
        left:30px;
        bottom:30px;
    }

    @keyframes kenburnsEven {
        0% { opacity: 0; }
        5% { opacity: 1; }
        95% {
            transform: scale3d(1.2, 1.2, 1.2) translate3d(-130px, 90px, 0px);
            animation-timing-function: ease-in;
            opacity: 1;
        }
        100% {
            transform: scale3d(1.2, 1.2, 1.2) translate3d(-150px, 120px, 0px);
            opacity: 0;
        }
    }
